<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <!-- for information on setting the values for the connection strings see the configTool project -->
    <add key="SQLConnString1" value="Data Source=.\sqlexpress;Initial Catalog=MSPetShop;Integrated Security=True"/>
    <add key="SQLConnString2" value="Data Source=.\sqlexpress;Initial Catalog=MSPetShop;Integrated Security=True"/>
    <add key="SQLConnString3" value="Data Source=.\sqlexpress;Initial Catalog=MSPetShopOrders;Integrated Security=True"/>
    <add key="OraConnString1" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAATuLEnfcIcEOUS0XEMQfQQAQAAAACAAAAAAADZgAAqAAAABAAAABYQ3urrmZ2MtK8La5i1BnLAAAAAASAAACgAAAAEAAAAMgnwg6AluuD5J5RfI2Rf0dgAAAAF2bFHiummEkZ5qxBs76Pzz1wSjf03MUDOLfrYhyBeBiI4cnzoeRtUNgYUsX3dNRkXWj4l4jvclkFBG5+Ivsvjooe+jme7wDkaFWa9Clk9ISr1WI/AEO3MVWhkBm0beAeFAAAAF5RhaQAlK5nNd9aD+Thw0CKc16v"/>
    <add key="OraConnString2" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAATuLEnfcIcEOUS0XEMQfQQAQAAAACAAAAAAADZgAAqAAAABAAAACOS0/rNyD4fqb0LHsJudAmAAAAAASAAACgAAAAEAAAABs2r3qQ2eE8hhNiFSWfjElgAAAANZn+5NsxwH0yQOVxvIMFh///DM9hdMx4JfSDXvjDt+tn97CiR56SlDcHVQ26FaQk1KqnnRwuoMm9xu8IsyxW8Ct28L8x9R4D8DMQKwgj9TepjA505JmbEE5cznc76tRgFAAAAO7QnFU9+MfjnF+cpVz0C9FZiDaG"/>
    <add key="OraConnString3" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAATuLEnfcIcEOUS0XEMQfQQAQAAAACAAAAAAADZgAAqAAAABAAAAB8HFfPHD1OShleau3F+igtAAAAAASAAACgAAAAEAAAAHSRfRursDUbMWnKfJKWWG5gAAAAJJV2oL4dUvchcFH7hw4bfho1ebN4q6NLEDeOP5JHqup0dTWSNbRYQfIU173SdPbHFBZIX9HiDpZfXHskmxvgpgQxqKnFBqTZhloZEPNqlLE+7XYcsQNrBajmBEJwOdd+FAAAAJFznUj4Y4+Xbnw9sBUgyJFffFHN"/>
    <add key="WebDAL" value="PetShop.SQLServerDAL"/>
    <add key="OrdersDAL" value="PetShop.SQLServerDAL"/>
    <add key="Event Log Source" value=".NET Pet Shop"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="PetShopDbContext" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\hwman\MSPetShop.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="PetShopOrdersDbContext" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\hwman\MSPetShopOrders.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
