
@{
    Layout = null;
}

<HTML>
<HEAD>
    <title>Sign Out</title>
    <link rel="stylesheet" href="~/Styles.css">
</HEAD>
<body>
    @Html.Partial("SignOutNavBar")
    <blockquote>
        <span class="title">Thank You!</span><p>
            Please visit us again soon.
        </p>
    </blockquote>
</body>
</HTML>
